<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmy.system.mapper.borrow.UserBasicInfoMapper">
    <resultMap id="UserBasicInfoResult" type="com.xmy.system.domain.UserBasicInfo">
        <result property="id" column="id" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="sex" column="sex" />
        <result property="phone" column="phone" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="isDelete" column="is_delete" />
        <result property="isSelete" column="is_selete" />
        <result property="auditStatus" column="audit_status" />
    </resultMap>
    <select id="queryList" resultType="com.xmy.system.domain.UserBasicInfo">

    </select>


</mapper>